.categories {
    border: 2px solid red;
    width: 35%;
    height: 13cm;
    display: block;
    justify-content: space-around;

}








.page {
    display: flex;
    
}

#categories1,
#categories2,
#categories3,
#categories4,
#categories5,
#categories6,
#categories7,
#categories8,
#categories9 {


    font-weight: bold;
    font-size: 3.2rem;
    color: gray;
}

#categories1:hover,
#categories2:hover,
#categories3:hover,
#categories4:hover,
#categories5:hover,
#categories6:hover,
#categories7:hover,
#categories8:hover,
#categories9:hover {
    color: blue;


}

[name='categorie1'],
#categorie2,
#categorie3,
#categorie4,
#categorie5 {


    font-weight: bold;
    font-size: 3.2rem;
    color: black;
    position: absolute;
    font-size: 70px;
    text-align: center;
}

#images {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;


}

.card-img-top {
    width: 100%;
    height: auto;
    height: 150px;

}

.card {

    width: 18rem;
    background-color: purple;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}



.card-body {
    color: white;
}
.card-title{
    text-align: center;
}
.card-link,#bouton{
    width: inherit;
    background-color:black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    width: 12rem;
} 