#logo {
    width: 250px;
    height: 250px;
    position: relative;
    top: -1cm;
    left: -1cm;
}

#entreetexte {
    height: 45px;
    width: 680px;
    /* border-radius: 5%; */
    position: relative;
    top: 2cm;
    background-color: gray;
    font-weight: bold;
    color: white;
    font-weight: 900;
}

::placeholder {
    color: white;
    font-size: 1.5em;
}

.dropdown {
position: relative;
top: 2cm;
width: 300px ;
}

.entete {
    display: flex !important;
    justify-content: space-between !important;
}

#loupe {
    position: absolute !important;
    left: 70% !important;
    top: 2.5cm !important;
    font-size: 33px !important;
}

/*-------------------------------------------------------------------------------------------------------------------*\*/
#ourholiday {
    width: 500px;
    height: 500px;
    left: 2cm;
    position: relative;
}

#phrase {
    position: relative;
    left: 3cm;
    font-size: 0.6cm;
    margin-top: 15%;
    width: 400px;
}

.corps {
    display: flex;
}
#lien{
    border: 2px solid black;
    border-radius:20px;
    width: auto;
    height: fit-content;
    font-weight: bold;
    color: black;
    font-size: 33px;
    text-align: center;
    position: relative;
    margin-top: 30%;
    left: -5cm;
}